.vscode/
__pycache__/
*.pyc
*.DS_Store
*.swp
*.pth
tmp.*
*/.ipynb_checkpoints/*

migrations/
logs/
weights/ASpanFormer
weights/ELoFTR
weights/LoFTR
weights/SuperGlue
weights/SuperPoint
weights/DKM
dump/